.directory
main/danmu.log
a.json
main/cookie.txt
pv-tracker.js
main/his/*
danmu.log
main/*.flv
main/*.mp4
main/*.dtmp
main/*.ass
main/*.mkv
main/qtbox
main/main
main/main.run
main/ui/*.glade~
main/tts.mp3
main/cpu.pprof
main/qr.png
main/live
main/main.exe
*.m4s
main/build.bat
main/build.sh
Reply/0.flv.log
main/coverage.txt
coverage.txt
main/danmu.sqlite3
plugin/*.go
bili_danmu.go
main/emots/*.png
fastgit.sh
fastgit2.sh
# gemini-cli settings
.gemini/
# GitHub App credentials
gha-creds-*.json
*.sh
Reply/decoder/testdata/0.fastSeed
Reply/decoder/testdata/0.flv.fastSeed
Reply/decoder/testdata/0.cut.mp4
cookie.txt
*.pgo
main/*.json
