name: Release

on:
  push:
    branches:
    - 'master'
    paths:
    - 'CV/VERSION'
env:
  R: ${{ vars.R }}

jobs:
  buildtest:
    name: test_ubuntu_go
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    # - name: golangci-lint
    #   uses: golangci/golangci-lint-action@v8
    #   with:
    #     args: --timeout 5m --verbose

    - name: Test
      run: |
        export r=${R:-92613}
        go get .
        go mod vendor
        CGO_ENABLED=1 go test -v --cover -coverprofile=coverage -race -count=1 ./...

    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: coverage
    
    - name: Create draft release
      run: |
        gh release create draft --draft
      
    - name: zipVendor
      run: zip -q -r vendor.zip vendor

    - name: Upload a Release Asset
      run: |
        gh release upload draft vendor.zip

  u-build:
    name: build_ubuntu_go
    needs: [buildtest]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    - name: Build
      run: |
        git rev-parse --short HEAD > CV/VERSION
        cd demo
        go get .
        GOEXPERIMENT=greenteagc,jsonv2 CGO_ENABLED=0 go build -pgo=auto -v -buildmode=exe main.go
      
    - name: zip
      run: zip -q -r ubuntu_go${{ matrix.go }}.zip demo

    - name: Upload a Release Asset
      run: |
        gh release upload draft ubuntu_go${{ matrix.go }}.zip

  w-build:
    name: build_windows_go
    needs: [buildtest]
    runs-on: windows-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        git rev-parse --short HEAD > CV/VERSION
        cd demo
        set CGO_ENABLED=0
        go get .
        set GOEXPERIMENT=greenteagc,jsonv2
        go build -pgo=auto -v -buildmode=exe main.go
        
    - name: zip
      run: .\7za.exe a -r .\windows_go${{ matrix.go }}.zip ./demo

    - name: Upload a Release Asset
      run: |
        gh release upload draft windows_go${{ matrix.go }}.zip

  m-build:
    name: build_macos_go
    needs: [buildtest]
    runs-on: macos-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        git rev-parse --short HEAD > CV/VERSION
        cd demo
        set CGO_ENABLED=0
        go get .
        GOEXPERIMENT=greenteagc,jsonv2 go build -pgo=auto -v -buildmode=exe main.go
        
    - name: zip
      run: zip -q -r macos_go${{ matrix.go }}.zip demo

    - name: Upload a Release Asset
      run: |
        gh release upload draft macos_go${{ matrix.go }}.zip
