name: Test

on:
  push:
    branches:
      - '**'
    paths:
      - '**.yml'
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '**.flv'
      - '**.mp4'
env:
  R: ${{ vars.R }}

jobs:
  buildtest:
    name: test_ubuntu_go
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    # - name: golangci-lint
    #   uses: golangci/golangci-lint-action@v8
    #   with:
    #     args: --timeout 5m --verbose

    - name: Test
      run: |
        export r=${R:-92613}
        go get .
        go mod vendor
        CGO_ENABLED=1 go test -v --cover -coverprofile=coverage -race -count=1 ./...

    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: coverage
      
    - name: zip
      run: zip -q -r vendor.zip vendor
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: vendor.zip
        path: ./vendor.zip

  u-build:
    name: build_ubuntu_go
    needs: [buildtest]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        git rev-parse --short HEAD > CV/VERSION
        git log --oneline $(git describe --tags --abbrev=0)~1..HEAD > CV/VERSION_DIFF
        cd demo
        go get .
        GOEXPERIMENT=greenteagc,jsonv2 CGO_ENABLED=0 go build -pgo=auto -v -buildmode=exe main.go
      
    - name: zip
      run: zip -q -r ubuntu_go${{ matrix.go }}.zip demo

    - name: VirusTotal Scan
      uses: crazy-max/ghaction-virustotal@v4
      with:
        vt_api_key: ${{ secrets.VT_API_KEY }}
        files: |
          ./ubuntu_go${{ matrix.go }}.zip

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu_go${{ matrix.go }}.zip
        path: ./demo
        
  w-build:
    name: build_windows_go
    needs: [buildtest]
    runs-on: windows-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        git rev-parse --short HEAD > CV/VERSION
        cd demo
        go get .
        set CGO_ENABLED=0
        set GOEXPERIMENT=greenteagc,jsonv2
        go build -pgo=auto -v -buildmode=exe main.go
        
    - name: zip
      run: .\7za.exe a -r .\windows_go${{ matrix.go }}.zip ./demo

    - name: VirusTotal Scan
      uses: crazy-max/ghaction-virustotal@v4
      with:
        vt_api_key: ${{ secrets.VT_API_KEY }}
        files: |
          ./windows_go${{ matrix.go }}.zip

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows_go${{ matrix.go }}.zip
        path: ./demo
       
  mac-build:
    name: build_macos_go
    needs: [buildtest]
    runs-on: macos-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        git rev-parse --short HEAD > CV/VERSION
        cd demo
        go get .
        set CGO_ENABLED=0
        set GOEXPERIMENT=greenteagc,jsonv2
        go build -pgo=auto -v -buildmode=exe main.go
        
    - name: zip
      run: zip -q -r macos_go${{ matrix.go }}.zip demo

    - name: VirusTotal Scan
      uses: crazy-max/ghaction-virustotal@v4
      with:
        vt_api_key: ${{ secrets.VT_API_KEY }}
        files: |
          ./macos_go${{ matrix.go }}.zip

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: macos_go${{ matrix.go }}.zip
        path: ./demo
