name: Test

on:
  push:
    branches:
      - '**'
    paths:
      - '**.yml'
      - '**.go'
      - '**.mod'
      - '**.sum'

jobs:
  buildtest:
    name: test_ubuntu_go${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.21' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v3

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        args: --timeout 5m --verbose

    - name: Test
      run: |
        sudo apt-get update
        sudo apt-get install libgtk-3-dev libcairo2-dev libglib2.0-dev
        go get .
        CGO_ENABLED=0 go test -v --cover -coverprofile=coverage ./...

    - name: Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: coverage

  u-build:
    name: build_ubuntu_go${{ matrix.go }}
    needs: [buildtest]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.21' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v3

    - name: Build
      run: |
        git rev-parse --short HEAD > VERSION
        cd demo
        sudo apt-get update
        sudo apt-get install libgtk-3-dev libcairo2-dev libglib2.0-dev
        go get .
        CGO_ENABLED=0 go build -pgo=auto -v -buildmode=exe -o demo.run main.go
      
    - name: zip
      run: zip -q -r ubuntu_go${{ matrix.go }}.zip demo
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        path: ./ubuntu_go${{ matrix.go }}.zip
        
  w-build:
    name: build_windows_go${{ matrix.go }}
    needs: [buildtest]
    runs-on: windows-latest
    strategy:
      matrix:
        go: [ '1.20' ]
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v3

    - name: Build
      run: |
        git rev-parse --short HEAD > VERSION
        cd demo
        go get .
        set CGO_ENABLED=0
        go build -pgo=auto -v -buildmode=exe -o demo.exe main.go
        
    - name: zip
      run: .\7za.exe a -r .\windows_go${{ matrix.go }}.zip ./demo
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        path: ./windows_go${{ matrix.go }}.zip
